@import "compass/css3";
@import '../vendor/foundation/scss/foundation/settings';
@import '../vendor/foundation/scss/foundation/functions';

@include font-face("BebasNeueBold", font-files("bebasneue_bold-webfont.woff2", "bebasneue_bold-webfont.woff", "bebasneue_bold-webfont.ttf", "bebasneue_bold-webfont.svg"), "bebasneue_bold-webfont.eot");
@include font-face("OpenSansSemibold", font-files("OpenSans-Semibold-webfont.woff", "OpenSans-Semibold-webfont.ttf", "OpenSans-Semibold-webfont.svg"), "OpenSans-Semibold-webfont.eot");
@include font-face("RobotoLight", font-files("Roboto-Light-webfont.woff", "Roboto-Light-webfont.ttf", "Roboto-Light-webfont.svg"), "Roboto-Light-webfont.eot");
@include font-face("RobotoRegular", font-files("Roboto-Regular-webfont.woff", "Roboto-Regular-webfont.ttf", "Roboto-Regular-webfont.svg"), "Roboto-Regular-webfont.eot");
@include font-face("ClearSansRegular", font-files("ClearSans-Regular-webfont.woff", "ClearSans-Regular-webfont.ttf", "ClearSans-Regular-webfont.svg"), "ClearSans-Regular-webfont.eot");
@include font-face("ClearSansBold", font-files("ClearSans-Bold-webfont.woff", "ClearSans-Bold-webfont.ttf", "ClearSans-Bold-webfont.svg"), "ClearSans-Bold-webfont.eot");

$heading-color:#4c4c4c;
$heading-color-secondary:#727272;

html, body{ height:100%; min-height:100%; }

body
{
    font-family: 'ClearSansRegular', 'RobotoRegular';
    background:url('../img/background.png');
    @include background-size(cover);
    background-position: center top;
}

#root{ border-top:rem-calc(8) solid #232328; }
#content{ /*padding:rem-calc(40) rem-calc(60);*/ background: #FFFFFF; height: calc(100% - 72px); }

.container
{
    position: relative;
    width: 100%;
    max-width: 88%;
    margin:auto;
}

.content{ position:relative; padding:rem-calc(15) rem-calc(30); }
.fullheight{ height:100%; min-height:100%; }
.entity{ margin-bottom:rem-calc(20); }
.no-gutter .columns:first-child{ padding-left:0; }
.no-gutter .columns:last-child{ padding-right:0; }

ul.left #matchmaking{ font-size:rem-calc(24); font-family: "BebasNeueBold" !important; }
ul.left #matchmaking span.squared{ border: rem-calc(2) solid #FFFFFF; padding: 0 rem-calc(5) }
ul.right a{ font-family: "OpenSansSemibold" !important; }
ul.right a:hover{ color:#506483 !important; }

h2.title{ font-family: 'BebasNeueBold'; font-size:rem-calc(36); color:#506483; margin:0; padding:0; }

/*******************************************
** MATCHMAKING
*******************************************/

#matchmaking-pane{ position: absolute; bottom:0; width:100%; height:480px; color:#7c7c7c; background-color:#232328; }

#matchmaking-pane #matchmaking-search{ width:100%; height:100%; display:table; text-align:center; font-family:'RobotoLight'; font-size:rem-calc(20); }
#matchmaking-pane #matchmaking-search>div{ display:table-cell; vertical-align:middle; }

/*******************************************
** PROFILE
*******************************************/

#cover{ width:100%; height:rem-calc(320); background:#000000; background:url('../img/arcadesona.jpg'); @include background-size(cover); background-position: center 9%; }
#cover .overlay{ width:100%; height:100%; background: #202224; @include opacity(0.4) }

#coverbar
{
    font-family:'RobotoRegular';
    font-size:rem-calc(15);
    color:#696868;
    width:100%;
    height: rem-calc(67);
    background-color:#e5e5e5;
    border-bottom:3px solid #9C9C9C;
    padding:8px 0;
}

#coverbar #player-info
{
    display:inline-block;
    font-family:'ClearSansBold';
    font-size:rem-calc(18);
}

#coverbar #player-info > img, #coverbar #player-info > span
{
    display: inline-block;
    vertical-align:middle;
}

#coverbar #player-avatar
{
    width:rem-calc(48);
    height:rem-calc(48);
    background:#000000;
    @include border-radius(3px);
    margin-left:rem-calc(8);
    margin-right: rem-calc(8);
}

#coverbar #player-info #player-name{ color:$heading-color; line-height:0.9em; }
#coverbar #player-info #player-name #player-alias{ color:$heading-color-secondary; font-size:rem-calc(13); }

.teamcard .team-cover{ display:block; width:100%; height:rem-calc(120); background:#000000; @include background-size(cover); @include border-top-radius(3px); }
.teamcard .teamname{ display:block; width:100%; font-family: 'ClearSansRegular'; font-size:rem-calc(16); color:#506483; background:#ebeaea; padding: rem-calc(5) rem-calc(10); @include border-bottom-radius(3px); }
.teamcard .teamname .tag{ color:#1f2732; }
.teamcard:hover .teamname{ text-decoration:underline; }

/*******************************************
** TEAMS
*******************************************/

@media #{$small-up} { }
@media #{$small-only}
{
    .container{ width:100%; max-width: 100%; }
}

@media #{$medium-up} { }
@media #{$medium-only} { }

@media #{$large-up}
{
    ul.title-area h1 a{ margin:0; padding:0 !important; }
}
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }