.content-messages{
    border: 1px solid #dddddd;
    padding:10px;
    height: 400px;
    overflow-x:visible;
    overflow-y: scroll;
    background:lightgrey;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom:10px;
    font-size:14px;
}